<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Termors.Services.Tv.MPStreamingService.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Termors.Services.Tv.MPStreamingService.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Termors.Services.Tv.MPStreamingService.Settings>
      <setting name="TvServerHost" serializeAs="String">
        <value>giulia3.termors.net</value>
      </setting>
      <setting name="DebugInterruptTcpPort" serializeAs="String">
        <value>52000</value>
      </setting>
      <setting name="TwitterEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OutputDirectory" serializeAs="String">
        <value>W:\Streaming</value>
      </setting>
      <setting name="BaseFileName" serializeAs="String">
        <value>stream</value>
      </setting>
      <setting name="FFMpegCommandLine" serializeAs="String">
        <value>-i {0} -map 0:{2} -filter:v yadif -vcodec libx264 -preset veryfast -profile:v baseline -level 30 -maxrate {9}k -bufsize 10000000 -b:v {4}k -s {6} -threads 0 -f segment -segment_list {1}.m3u8 -segment_list_flags +live -segment_time {7} -segment_wrap {8} -bsf h264_mp4toannexb -flags -global_header -map 0:{3} -acodec aac -ac 2 -strict experimental -b:a {5}k {1}%03d.ts</value>
      </setting>
      <setting name="FFMpegPath" serializeAs="String">
        <value>D:\Temp\ffmpeg\bin\ffmpeg.exe</value>
      </setting>
      <setting name="LocalStreamingUrl" serializeAs="String">
        <value>http://www.termors.net/streaming/stream.m3u8</value>
      </setting>
      <setting name="FFProbePath" serializeAs="String">
        <value>D:\Temp\ffmpeg\bin\ffprobe.exe</value>
      </setting>
      <setting name="FFProbeCommandLine" serializeAs="String">
        <value>-i {0} -show_streams -v quiet -print_format xml</value>
      </setting>
      <setting name="FtpHost" serializeAs="String">
        <value>termorslive.net16.net</value>
      </setting>
      <setting name="FtpUser" serializeAs="String">
        <value>a5847925</value>
      </setting>
      <setting name="FtpPassword" serializeAs="String">
        <value>yoghurt19</value>
      </setting>
      <setting name="FtpRemoteDir" serializeAs="String">
        <value>/public_html/database</value>
      </setting>
      <setting name="RemoteStreamingUrl" serializeAs="String">
        <value>http://www.termorslive.net16.net/database/stream.m3u8</value>
      </setting>
      <setting name="TwitterConsumerKey" serializeAs="String">
        <value>dlImhT0hAeM1BAxrqUg6w</value>
      </setting>
      <setting name="TwitterConsumerSecret" serializeAs="String">
        <value>nmlWqhppzhwUjATiD8b3OnRiBIwZqZNF8yGCJhGRj9s</value>
      </setting>
      <setting name="TwitterAccessToken" serializeAs="String">
        <value>1352280254-bbffWme573aj8pkWgukoIEwuY088GTvTCNbi6Ec</value>
      </setting>
      <setting name="TwitterAccessTokenSecret" serializeAs="String">
        <value>d06Gu2YNXtP3ZDieV8SRKYCwCiCkdzTLgKvuExBk4SA</value>
      </setting>
      <setting name="ChannelGroup" serializeAs="String">
        <value>SD Channels</value>
      </setting>
    </Termors.Services.Tv.MPStreamingService.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <Termors.Services.Tv.MPStreamingService.Settings>
      <setting name="FtpConcurrentJobs" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="VideoBitrateKbps" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="AudioBitrateKbps" serializeAs="String">
        <value>48</value>
      </setting>
      <setting name="VideoSize" serializeAs="String">
        <value>360x288</value>
      </setting>
      <setting name="SegmentFileLengthSec" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="SegmentCount" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="VideoMaxBitrateKbps" serializeAs="String">
        <value>600</value>
      </setting>
    </Termors.Services.Tv.MPStreamingService.Settings>
  </userSettings>


  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
      <service name="Termors.Services.Tv.MPStreamingService.StreamingServiceImplementation"
               behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/StreamingService/service"/>
          </baseAddresses>
        </host>

        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="Termors.Services.Tv.MPStreamingInterface.IStreamingService" />

        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
